<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>italodouglas.Dev</title>

    <meta name="description" content="italodouglas.Dev">
    <meta property="og:description" content="italodouglas.Dev">
    <meta property="og:image" content="https://italodouglas.dev/logo.png">
    <meta property="og:site_name" content="italodouglas.Dev">
    <meta property="og:title" content="italodouglas.Dev">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://italodouglas.dev">

    <link rel="icon" type="image/png" href="~/logo.png" asp-append-version="true" />
    <link rel='shortcut icon' type='image/x-icon' href="~/logo.png" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" asp-append-version="true">


</head>

<body>

    <header class="cabecalho">

        <nav class="cabecalho-navbar">
            <ul class="cabecalho-navbar-lista">
                <li class="cabecalho-navbar-lista-item">
                    <a class="cabecalho-navbar-lista-item-link active" href="#home">
                        <i class="fas fa-terminal"></i>
                    </a>

                </li>
                <li class="cabecalho-navbar-lista-item">
                    <a class="cabecalho-navbar-lista-item-link"
                       href="#Portifolio">Portifólio</a>
                </li>
                <li class="cabecalho-navbar-lista-item">
                    <a class="cabecalho-navbar-lista-item-link"
                       href="#Projetos">Projetos</a>
                </li>
                <li class="cabecalho-navbar-lista-item">
                    <a class="cabecalho-navbar-lista-item-link"
                       href="#Contato">Contato</a>
                </li>
            </ul>
        </nav>

        <div class="cabecalho-banner">

            <h1 class="cabecalho-banner-texto-principal">italodouglas.Dev</h1>

        </div>

    </header>

    <man class="principal">
        <section class="principal-portifolio" id="Portifolio">

            <div class="principal-portifolio-cartao-visita">

                <div class="cartao-visita-corpo">
                    <div class="cartao-visita-perfil-imagem">
                        <img src="/Imagens/avatar.png" class="perfil-imagem" alt="italo-douglas-vasconcelos-de-alencar">
                    </div>
                    <div class="cartao-visita-perfil-descricao">
                        <h2 class="perfil-titulo">
                            Oi, Eu sou o <span class="perfil-titulo-cor">Italo Douglas</span>
                        </h2>
                        <h3 class="perfil-subtitulo">Desenvolvedor .Net</h3>
                        <hr />
                        <div class="cartao-visita-perfil-texto">
                            <p>
                                Possuo pouco mais de 15 anos de experiência na área de TI, inicialmente como técnico em
                                informática realizando manutenção de equipamentos de informática e softwares. Em seguida
                                atuei como analista de suporte por alguns anos realizando implantação, treinamentos e
                                consultoria em softwares de gestão e meios de pagamento. E já durante esse período
                                comecei também os primeiros passos como desenvolvedor.
                            </p>
                            </br>
                            <p>
                                Nos últimos 4 anos atuo exclusivamente como Desenvolvedor Full Stack desenvolvendo
                                aplicações desktop, bibliotecas e web, desde o front-end, back-end, banco de dados até
                                hospedagem. Atualmente venho estudando servidores Linux e Apache, e frameworks front-end
                                Angular e React.
                            </p>
                            </br>
                            <p>
                                Quanto ao meu perfil, sou calmo, focado, tenho facilidade de trabalhar em equipe e só
                                também, estou sempre tentando aprender e ensinar cada vez mais. E definitivamente
                                acredito que qualquer demanda e/ou problema tem uma solução.
                            </p>
                            </br>
                            <p>
                                Linguagens: C#, Vb.Net, Javascript.
                                Frameworks: .Net, .Net Core 3.1+, .Net Framework 4.0+, Bootstrap 4.0+, .NET Standard
                                2.0, JQuery.
                                Banco de Dados: Microsoft SQL Server, Microsoft Access, PostgreSQL, Firebird.
                                Infra: Windows Server, VPS, Azure, IIS.
                                + Tecnologias: JWT, JSON, API, WebService, Swagger, ASP.NET Identity.
                            </p>
                        </div>

                    </div>
                    <div class="cartao-visita-rodape">
                        <a href="https://www.linkedin.com/in/italo-douglas-dev/" target="_blank"
                           class="cartao-visita-rodape-icone"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://github.com/italodouglasdev" target="_blank"
                           class="cartao-visita-rodape-icone"><i class="fab fa-github"></i></a>
                        <a href="https://www.instagram.com/italo_douglas/" target="_blank"
                           class="cartao-visita-rodape-icone"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>

            </div>

        </section>

        <section class="principal-projetos" id="Projetos">

            <h2 class="principal-projetos-titulo">Projetos</h2>

            <div class="linha">
                <div class="coluna">

                    <div class="cartao-projeto">
                        <h3 class="cartao-projeto-icone">
                            <i class="fas fa-database"></i>
                        </h3>
                        <h3 class="cartao-projeto-titulo">
                            DAL Easy
                        </h3>

                        <p class="cartao-projeto-subtitulo">
                            Gerador de Classes C# e Vb.Net através do banco de
                            dados
                        </p>

                        <div class="cartao-projeto-rodape">
                            <a href="https://github.com/italodouglasdev/DALEasy" target="_blank"
                               class="rodape-icone"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>

                <div class="coluna">
                    <div class="cartao-projeto">
                        <h3 class="cartao-projeto-icone">
                            <i class="fas fa-id-badge"></i>
                        </h3>
                        <h3 class="cartao-projeto-titulo"> italoDouglas.Dev</h3>
                        <p class="cartao-projeto-subtitulo">Meu portifólio em .Net Core 3.1, C#, HTML, CSS, Js</p>
                        <div class="cartao-projeto-rodape">
                            <a href="https://github.com/italodouglasdev/italoDouglasDevSite" target="_blank"
                               class="rodape-icone"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>

                <div class="coluna">
                    <div class="cartao-projeto">
                        <h3 class="cartao-projeto-icone">
                            <i class="fas fa-qrcode"></i>
                        </h3>
                        <h3 class="cartao-projeto-titulo">
                            QR Id
                        </h3>

                        <p class="cartao-projeto-subtitulo">
                            Gerador de QrCode com API e Swagger
                        </p>

                        <div class="cartao-projeto-rodape">
                            <a href="https://github.com/italodouglasdev/GeradorDeQrCode" target="_blank"
                               class="rodape-icone"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>

            </div>





        </section>

        <section class="principal-contato" id="Contato">


            <form class="principal-contato-corpo">

                <h2 class="contato-titulo">Contato</h2>

                <div>
                    <Input class="contato-input" autocomplete="off" type="text" id="contato-nome" name="contato-nome"
                           placeholder="Nome">
                </div>

                <div>
                    <Input class="contato-input" autocomplete="off" type="email" id="contato-email" name="contato-email"
                           placeholder="Email">
                    <Input class="contato-input" autocomplete="off" type="tel" class="mascaraTelefone"
                           id="contato-telefone" name="contato-telefone" placeholder="Telefone"></Input>
                </div>


                <div>
                    <textarea class="contato-input textarea" id="contato-mensagem" name="contato-mensagem"
                              placeholder="Sua Mensagem"></textarea>
                </div>

                <div class="contato-botao">
                    <button class="botao">Enviar <span class="underline_piscando">_</span></button>
                </div>


            </form>




        </section>

    </man>

    <footer>
        <div class="rodape">
            <img src="~/logo.png" alt="italo-douglas-vasconcelos-de-alencar" width="150" height="150">
            <p class="rodape-contato"><i class="fab fa-whatsapp"></i> 083 9 9195-3683</p>
            <p class="rodape-contato"><i class="fas fa-envelope"></i> italodouglas.dev@gmail.com</p>
            <p class="rodape-contato"><i class="far fa-copyright"></i> Italo Douglas Vasconcelos de Alencar, @DateTime.Now.ToString("yyyy")</p>
        </div>
    </footer>



</body>

</html>

<script src="~/lib/jquery/jquery-3.6.3.min.js" asp-append-version="true"></script>
<script src="~/lib/fontawesome/js/all.js" asp-append-version="true"></script>
<script src="~/js/script.js" asp-append-version="true"></script>
<script src="~/js/mascaras.js" asp-append-version="true"></script>